@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.grecaptcha-badge { 
  visibility: hidden; 
}
@layer base {
  /* Apply 'cursor: none' ONLY if:
    1. The screen is 960px or wider
    2. The device has a mouse (pointer: fine)
  */
  @media (min-width: 960px) and (pointer: fine) {
    * {
      cursor: none !important;
    }
  }
}