@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.grecaptcha-badge { 
  visibility: hidden; 
}

@layer base {
  /* Only hide cursor on devices that actually have a mouse (prevent issues on mobile) */
  @media (pointer: fine) {
    * {
      cursor: none !important;
    }
  }
}